---
import Layout from "../layouts/Layout.astro";
import Services from "../components/Services.astro";
---

<Layout title="Spitalul Militar de Urgenta Pitesti">
   <div class="distance">

   </div>
   <Services />

</Layout>
<style>
  .distance {
   height:3rem;
  } 
</style>